<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Listado de personas</title>
</head>
<body>



    <div align="center">
        <div sec:authorize="isAuthenticated()">
            Bienvenido <b><span sec:authentication="name">Username</span></b>
            &nbsp;
            <b><span sec:authentication="principal.authorities">Roles</span></b>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Salir">
        </form>
        <h1>Listado de personas</h1>
        <table border="1" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Acciones</th>
            </tr>
            <tr th:each="persona : ${listaPersonas}">
                <td th:text="${persona.id}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.edad}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
                    <a th:href="@{/personas/editar/{id}(id=${persona.id})}">Editar</a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/personas/eliminar/{id}(id=${persona.id})}">Eliminar</a>
                </td>
            </tr>
        </table>

        <div sec:authorize="hasAnyAuthority('CREATOR','ADMIN')">
            <a href="/personas/nueva">Nueva persona</a>
        </div>

    </div>

</body>
</html>